{% extends "base.html.twig" %}

{% block title %}Json To Class{% endblock %}
{% block body %}
    <div class="main container mx-auto max-w-lg bg-white p-5 mt-5">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
