{% extends "Default/index.html.twig" %}

{% block content %}

    <div class="body">

        {% include 'Default/block/parsing_instance_status.html.twig' with { 'parsingInstance': parsingInstance } %}

        {% include 'Default/block/parsing_instance_back.html.twig' with { 'parsingInstance': parsingInstance } %}


        <div class="section-heading mb-5">
            <h2 class="text-2xl font-semibold mb-2">Unknown types</h2>
            <p class="text-sm">These are the fields that won't be exported because type was not found</p>
        </div>

        {% include "Default/block/element_table.html.twig" with {elements: unknownTypeAnalysis.getUnknownTypeElements} %}
    </div>
{% endblock %}
